
:root {
	--color-im7zz2dlk: 14, 182, 212;
	--color-iz7gtvwff: 14, 182, 212;
	--color-imue62vnu: 14, 182, 212;
	--color-irpmya3pm: 14, 182, 212;
	--color-ib1w1lsfs: 14, 182, 212;
	--color-iqc1ls8pf: 14, 182, 212;
	--color-i8anddiwo: 14, 182, 212;
	--color-i1mv7imd8: 14, 182, 212;
	--color-ijx75zh47: 14, 182, 212;
	--color-is6iotxi5: 14, 182, 212;
	--color-i0hlaslls: 14, 182, 212;
	--color-imgxyv92t: 14, 182, 212;
	--color-i109sjovk: 14, 182, 212;
	--color-i8www48a7: 14, 182, 212;
	--color-ibbjhau78: 14, 182, 212;
	--color-it4byltc1: 14, 182, 212;
	--color-ipy29f8wl: 14, 182, 212;
	--color-iidh31vdm: 14, 182, 212;
	--color-idn9dylhd: 14, 182, 212;
	--color-ietp5mpxi: 14, 182, 212;
	--color-ihcx95pnd: 14, 182, 212;
	--color-ixz8oak7p: 14, 182, 212;
	--color-iwj9mwk4h: 14, 182, 212;
	--color-ipc0tnro6: 14, 182, 212;
	--color-idznlcqmn: 14, 182, 212;
	--color-i6xpull6v: 14, 182, 212;
	--color-irq0l5a8y: 14, 182, 212;
	--color-iz4qvbqz8: 14, 182, 212;
	--color-i1ib26jjl: 14, 182, 212;
	--color-iaoklz0lo: 121, 77, 111;
	--color-igbyzdkxw: 121, 77, 111;
	--color-i0bsqdoi6: 121, 77, 111;
	--color-iy2nar59r: 121, 77, 111;
	--color-ibak553qx: 121, 77, 111;
	--color-ijiv2t8di: 121, 77, 111;
	--color-iga6bggl3: 238, 238, 238;
	--color-i30qn5m1j: 238, 238, 238;
	--color-ibdznbt6s: 238, 238, 238;
	--color-im14g6xsk: 238, 238, 238;
	--color-iabfe7qok: 29, 195, 224;
	--color-imuecqgwu: 29, 195, 224;
	--color-i14ok6muk: 29, 195, 224;
	--color-inb1kgs43: 29, 195, 224;
	--color-iuezpo8dh: 29, 195, 224;
	--color-ik9j1hqen: 29, 195, 224;
	--color-insy8rxsc: 29, 195, 224;
	--color-idpksook0: 29, 195, 224;
}
