
:root {
	--color-iw5vmcao9: 14, 182, 212;
	--color-ikb5dkcvt: 14, 182, 212;
	--color-iqc1ls8pf: 14, 182, 212;
	--color-i8anddiwo: 14, 182, 212;
	--color-i1mv7imd8: 14, 182, 212;
	--color-ijx75zh47: 14, 182, 212;
	--color-i50ycvina: 14, 182, 212;
	--color-i4e2cpujb: 14, 182, 212;
	--color-i0hlaslls: 14, 182, 212;
	--color-is6iotxi5: 14, 182, 212;
}
